* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    height: fit-content;
}

#home,
#About,
#skills,
#projects,
#contact {
    position: relative;
    z-index: 2;
    margin-top: 100px;
}

nav {
    position: relative;
    z-index: 3;
}

footer {
    position: relative;
    z-index: 3;
}

#cv {
    position: relative;
    z-index: 3;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #e8dfdf;
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
    animation: animate 7s linear infinite;
}




.background li:nth-child(0) {
    left: 64%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 59%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 3s;
}

.background li:nth-child(2) {
    left: 62%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 10s;
}

.background li:nth-child(3) {
    left: 78%;
    width: 5px;
    height: 5px;
    bottom: -5px;
    animation-delay: 12s;
}

.background li:nth-child(4) {
    left: 41%;
    width: 76px;
    height: 76px;
    bottom: -76px;
    animation-delay: 13s;
}

.background li:nth-child(5) {
    left: 56%;
    width: 86px;
    height: 86px;
    bottom: -86px;
    animation-delay: 13s;
}

.background li:nth-child(6) {
    left: 21%;
    width: 309px;
    height: 309px;
    bottom: -309px;
    animation-delay: 8s;
}

.background li:nth-child(7) {
    left: 71%;
    width: 43px;
    height: 43px;
    bottom: -43px;
    animation-delay: 31s;
}

.background li:nth-child(8) {
    left: 14%;
    width: 299px;
    height: 299px;
    bottom: -299px;
    animation-delay: 21s;
}

.background li:nth-child(9) {
    left: 3%;
    width: 18px;
    height: 18px;
    bottom: -18px;
    animation-delay: 23s;
}

.background li:nth-child(10) {
    left: 1%;
    width: 18px;
    height: 18px;
    bottom: -18px;
    animation-delay: 20s;
}

.background li:nth-child(11) {
    left: 36%;
    width: 299px;
    height: 299px;
    bottom: -299px;
    animation-delay: 25s;
}

.background li:nth-child(12) {
    left: 78%;
    width: 174px;
    height: 174px;
    bottom: -174px;
    animation-delay: 48s;
}

.background li:nth-child(13) {
    left: 7%;
    width: 21px;
    height: 21px;
    bottom: -21px;
    animation-delay: 36s;
}

.background li:nth-child(14) {
    left: 64%;
    width: 305px;
    height: 305px;
    bottom: -305px;
    animation-delay: 49s;
}

.background li:nth-child(15) {
    left: 11%;
    width: 310px;
    height: 310px;
    bottom: -310px;
    animation-delay: 49s;
}

.background li:nth-child(16) {
    left: 25%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 57s;
}

body {

    color: #f2f2f2;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #3f3030;
    padding: 12px;
    font-weight: bold;
    position: relative;
}

nav h2,
nav ul {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 1.5s ease-out forwards;
}

nav h2 {
    animation-delay: 0.3s;
}

nav ul {
    animation-delay: 0.6s;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

#header a {
    color: #E5D0AC;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
}

#header a:hover {
    color: #e8dfdf;
    transform: scale(1.9);
}

nav li {
    list-style-type: none;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



#home img {
    width: 500px;
    float: right;
    border-radius: 49%;
    margin-top: 5px;

}

#home {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    margin-top: 50px;
    color: rgb(127, 25, 25);
}

#slidein {
    opacity: 0;
    transform: translateX(100px);
    animation: slideInFromRight 1.5s ease-out forwards;
}


@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


#About {
    border: 2px solid rgb(253, 251, 251);
    display: flex;
    flex-wrap: wrap;
    background-color: #3f3030;
    width: 95%;
    height: auto;
    justify-content: start;
    border-radius: 100px;
    color: white;
    align-items: center;
    box-shadow: 5px 5px 10px black;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.3s;
}

#About img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 100px;
    opacity: 0;
    transform: translateX(-100px);
    animation: slideInFromLeft 1.2s ease-out forwards;
    animation-delay: 0.5s;
}

#About p {
    font-size: 22px;
    line-height: 1.7;
    flex: 1;
    margin: 20px;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideInFromTop 1.2s ease-out forwards;
    animation-delay: 0.7s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



#skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;

}

#skillsd {
    width: 350px;
    height: 450px;
    background-color: #3f3030;
    color: #fff;
    border-radius: 25px;
    border: 1px solid white;
    margin: 20PX;
    box-shadow: 3px 3px 3px rgb(142, 142, 142);

}

#skillsd p {
    margin: 5px;
    background-color: #958888;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 30px;


}

#skillsd ul {
    color: black;
    list-style-type: none;
    font-size: 25px;
    text-align: center;

}

#skillsd li {
    padding: 10px;
    background-color: #958888;
    color: #fff;
    border: 2px solid white;
    margin: 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease;

}

#skillsd li:hover {
    background-color: #011F3F;
}


#p1,
#p2,
#p3 {
    position: relative;
    z-index: 3;
    background-color: #011F3F;
    padding: 10px;
    width: 70%;
    border-radius: 60px;
    color: #E5D0AC;
    font-size: 30px;
    font-weight: 200;
    text-align: center;

}


#projects {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background-color: #958888;
    max-width: 1000px;
    margin: 10px;
    max-height: 1000px;
    border-radius: 10px;
    color: #FFFF;
    justify-content: center;
    gap: 20px;
    position: relative;
    padding: 10px;


}

.project {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 250px;
    padding: 0px;
}

.project img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    transition: transform 0.3s ease;
    padding: 20px;
}

.project:hover img {
    transform: scale(1.1);

}

.project i:hover {
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.overlay img {
    width: 300px;
    height: 200px;
    opacity: 100%;


}

.overlay h3 {
    margin: 0;
    font-size: 1.2rem;
}

.overlay p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    text-align: center;
}

.project:hover .overlay {
    opacity: 1;
}

#Achivements {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 100px;
}

#c1 {
    width: 80%;
    height: auto;
    padding: 40px;
    background-color: #958888;
    border: 2px solid white;
    box-shadow: 3px 3px 3px rgb(142, 142, 142);
    border-radius: 100px;
    display: inline-block;

    img {
        float: left;
        width: 400px;
        height: 300px;
        border-radius: 10px;
    }

    p {
        font-size: 22px;
        text-align: justify;
        margin-top: 40px;
        margin-left: 40%;

    }

    h1 {
        margin-left: 40%;
        background-color: #3f3030;
        width: fit-content;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 1px 1px 1px#000000;
    }

}

#c2 {
    width: 80%;
    height: auto;
    padding: 40px;
    background-color: #958888;
    border: 2px solid white;
    box-shadow: 3px 3px 3px rgb(142, 142, 142);
    border-radius: 100px;
    display: inline-block;
    margin-left: 17%;

    img {
        float: right;
        width: 400px;
        height: 300px;
        border-radius: 10px;

    }

    p {
        font-size: 22px;
        text-align: justify;
        margin-right: 45%;
        margin-top: 70px;
        margin-left: 25px;

    }

    h1 {
        margin-right: 20%;
        display: inline-block;
        margin-left: 30px;
        background-color: #3f3030;
        width: fit-content;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 1px 1px 1px#000000;
    }

}


#c3 {
    width: 80%;
    height: auto;
    padding: 40px;
    background-color: #958888;
    border: 2px solid white;
    box-shadow: 3px 3px 3px rgb(142, 142, 142);
    border-radius: 100px;
    display: inline-block;

    img {
        float: left;
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }

    p {
        font-size: 22px;
        text-align: justify;
        margin-top: 80px;
        margin-left: 30%;

    }

    h1 {
        margin-left: 30%;
        background-color: #3f3030;
        width: fit-content;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 1px 1px 1px#000000;

    }

}





#contact {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background: #3f3030;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    color: #080808;
    display: flex;
    flex-direction: column;

}

#contact h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffe6c1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-group input,
.form-group textarea {
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #958888;
    color: #000000;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: 2px solid black ;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

::placeholder {
    color: #fff;
}

.submit-button {
    display: flex;
    justify-content: center;
}

button {
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    background: #E5D0AC;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4 sec ease;

}

button:hover {
    transform: scale(1.1);
}

#cv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #011F3F;
    cursor: pointer;
    width: 300px;
    height: 70px;
    border-radius: 50px;
    transition: all 0.4 sec ease;

    a {
        text-decoration: none;
        color: #ffe6c1;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 12px 25px;
    }

    a:hover {
        transform: scale(1.2);
    }

}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 65px;
    background-color: #3f3030;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: white;
}

footer a {
    padding: 20px;
}

footer a img {
    border-radius: 15px;
    height: 50px;
    transition: transform 0.3s ease;
}

footer a img:hover {
    transform: scale(1.4);
}

@media (max-width: 1024px) {
    body {
        width: 100%;
    }

    .project {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
        height: 200px;
    }

    #Achivements {

        padding: 0%;
    }

    #c2 {
        margin-left: 17%;

        h1,
        p {
            margin: 0%;
            padding: 0%;
        }

        img {
            width: 300px;
            height: 225px;
            margin-left: 10px;
        }

    }

    #c3,
    #c1 {
        img {
            margin-right: 1px;
        }
    }

    #Achivemets p {

        text-align: center;
    }

    .overlay h3 {
        font-size: 1rem;
    }

    .overlay p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    body {
        width: 1005;
    }

    #Achivements1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-left: 40px;
    }

    #c1,
    #c2,
    #c3 {
        width: 90%;
        padding: 30px;
        border-radius: 20px;
        text-align: center;
        margin-left: 0%;

        h1 {

            text-align: center;

            margin: 0%;
        }
    }

    #c1 img,
    #c2 img,
    #c3 img {
        width: 100%;
        height: auto;
        margin-bottom: 40px;

    }

    #c1 h1,
    #c3 h1 {
        display: inline
    }

    #c1 p,
    #c2 p,
    #c3 p {
        font-size: 20px;
        text-align: center;
        padding: 0%;
        margin: 0%;
        margin-top: 30px;
    }

    nav ul li {
        margin: 5px 10px;
    }

    #home {
        flex-direction: column;
        font-size: 30px;
    }

    #About {
        flex-direction: column;
        align-items: center;

        img {
            width: 800px;
            height: 30%;
            border-radius: 5%;
        }
    }

    #projects {
        flex-direction: column;
        height: 100%;
        width: fit-content;
        align-items: center;
    }

    #skills {
        flex-direction: column;
    }

    footer {
        font-size: 14px;
    }

    .project {
        flex: 1 1 100%;
        max-width: 100%;
        height: 180px;
    }

    .overlay h3 {
        font-size: 0.9rem;
    }

    .overlay p {
        font-size: 0.75rem;
    }
}

@media (max-width: 480px) {
    body {
        width: 1005;
    }

    #home img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    #About p {
        font-size: 16px;
        line-height: 1.5;
    }

    #skillsd {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    #skills {
        gap: 20px;
    }

    #projects {
        width: 100%;
        height: auto;
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #projects img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5%;
    }

    button {
        font-size: 1rem;
        padding: 8px 12px;
    }

    #c2 {
        margin-left: 0%;
    }

    #c1,
    #c2,
    #c3 {
        padding: 10px;
        text-align: center;

    }

    #c1 p,
    #c2 p,
    #c3 p {
        padding: 20px;
        font-size: 16px;
        margin: 0%;

    }

    #c1 img,
    #c2 img,
    #c3 img {
        padding: 10px;
    }

    #Achivements {
        margin: 0%;
        padding: 0%;
    }

    #c1 h1,
    #c3 h1 {
        display: inline;
    }

    #c1 h1,
    #c2 h1,
    #c3 h1 {
        padding: 10px;
        height: fit-content;
        font-size: 18px;
        margin: 0%;

    }
}